body {
	font-family: 'Exo 2', sans-serif;
	background-color: #f5f3f1;
}

/* Tweaking my headings */
h1 {
	font-size: 40px;
}

h1, h2, h3 {
	margin: 3px 0;
}

/* Tweaking my links */
a, a:focus, a:visited, a:hover, a:active {
	color: black;
	text-decoration: none;
}

/* Giving the home section some vertical positioning */
div#home {
	margin-top: 50px;
}

/* Giving the section#home some margin */
section#home {
	margin-top: 40px;
}

#wrapper {
	margin-top: 70px;
}

#intro {
	margin-top: 150px;
	margin-bottom: 160px;
}

#intro p {
	font-size: 25px;
	letter-spacing: 1px;
}

img#dropdown {
	position: absolute;
	left: 45%;
}

/* Making my face image round */
header img {
	border-radius: 100%;
}

footer {
	background: #0c0a0a;
	color: white;
	padding-top: 40px;
	padding-bottom: 30px;
}

footer h2 {
	margin-left: 30px;
	margin-bottom: 30px;
}
/* General Classes */

/* Centering text elements */
.center {
	text-align: center;
}

/* Fonts */
.indie {
	font-family: 'Indie Flower', cursive;
}

.exo {
	font-family: 'Exo 2', sans-serif;
}

.quicksand {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* My custom button */
.btn-custom {
	background-color: none;
	text-align: center;
	border: 1px solid black;
	border-radius: 0;
	color: black;
}

.btn-custom:focus, .btn-custom:hover {
	background-color: black;
	color: white;
}

.highlight {
	color: #a01a00;
}